@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600;700;800&display=swap');
body{  
    background-color: white;
    font-family: 'Open-sans', sans-serif;
}
.topimg{
    width: 100%;
    height: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.nav-link:hover{
    width: 160px;
    height: 50px;
    transform: scale(1.2);
    color: white;
}
.nav-link{
    color: white; 
    border-radius: 15px; 
    text-align: center;
    padding-bottom: 15px;
    transition: transform .2s;
    
}
#countries{
    background-color: #3498DB;
    width: 150px; 
    height: 35px;
}
#athletes{
    background-color: #F1C40F;
    margin-left:  60px;
    width: 150px; 
    height: 35px;
}
#home{
    background-color: #000000;
    margin: 0 70px;
    width: 150px; 
    height: 35px;
}
#competitions{
    background-color: #178344;
    margin-right:  60px;
    width: 165px; 
    height: 50px;
}
#modalities{
    background-color: #E34B3C;
    width: 150px; 
    height: 35px;
}
.page-link:hover{
    background-color: #f1f1f1;
    color: black;
}
.active:hover{
    color: white;
}
.active .page-link{
    background-color: #000000;
    border: black;
}
.page-link{
    border: black;
    color: #000000;
    cursor: pointer;
    background-color: #f1f1f1;
}