@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600;700;800&display=swap');
body{  
    background-color: white;
    font-family: 'Open-sans', sans-serif;
}
.cards{
    width: 300px;
    height: 450px;
    background-color: rgb(212, 13, 13);
    border-radius: 15px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}
.logo{
    width: 70px;
    height: 35px;
    margin-top: 10px;
}
.athlete{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: solid rgb(212, 13, 13) 4px ;
}
.cards::before{
    content: "";
    height: 200px;
    width: 300px;
    position: absolute;
    background-color: white;
    border-radius: 15px 15px 0 0;

}
.cardcontents{
    z-index: 100;
}
.topimg{
    width: 100%;
    height: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.swiper {
  width: 84vw;
  height: 46vh;
}
      
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
      
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
      
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
      
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-pagination-bullet-active{
  background-color: white;
}
.swiper-pagination-bullet{
  width: 40px;
  height: 7px;
  border-radius: 4px;
}
.linha1{
  display: flex;
      
}
.content{
  margin-top: 100px;
  width: 84%;
  margin: auto;
      
}
.nav-link:hover{
    width: 160px;
    height: 50px;
    transform: scale(1.2);
    color: white;
}
.nav-link{
    color: white; 
    border-radius: 15px; 
    text-align: center;
    padding-bottom: 15px;
    transition: transform .2s;
    
}
#countries{
    background-color: #3498DB;
    width: 150px; 
    height: 35px;
}
#athletes{
    background-color: #F1C40F;
    margin-left:  60px;
    width: 150px; 
    height: 35px;
}
#home{
    background-color: #000000;
    margin: 0 70px;
    width: 165px; 
    height: 50px;
}
#competitions{
    background-color: #178344;
    margin-right:  60px;
    width: 150px; 
    height: 35px;
}
#modalities{
    background-color: #E34B3C;
    width: 150px; 
    height: 35px;
}
#favourites{
  background-color: #e0dfdf;
  width: 50px;
  height: 35px;
  margin-left: 25px;
}
#statistics{
  background-color: #e0dfdf;
  width: 50px;
  height: 35px;
  margin-right: 25px;
}
#map {
  width: 84%;
  height: 768px;
  background-color: #aad3df;
}
